<%- include('../partials/header') %>

    <h2>Suppliers</h2>
    <a href="/suppliers/add" class="btn btn-success mb-2">Add Supplier</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% suppliers.forEach(s => { %>
                <tr id="row-<%= s._id %>">
                    <td>
                        <%= s.name %>
                    </td>
                    <td>
                        <%= s.address %>
                    </td>
                    <td>
                        <%= s.phone %>
                    </td>
                    <td>
                        <a href="/suppliers/edit/<%= s._id %>" class="btn btn-primary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm" onclick="deleteSupplier('<%= s._id %>')">Delete</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <script>
        function deleteSupplier(id) {
            if (confirm('Are you sure you want to delete this supplier?')) {
                fetch('/suppliers/' + id, {
                        method: 'DELETE'
                    })
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        document.getElementById('row-' + id).remove();
                    })
                    .catch(err => console.error(err));
            }
        }
    </script>


    <%- include('../partials/footer') %>