<%- include('../partials/header') %>

    <h2>Products</h2>
    <a href="/products/add" class="btn btn-success mb-2">Add Product</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Supplier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(p => { %>
                <tr id="row-<%= p._id %>">
                    <td>
                        <%= p.name %>
                    </td>
                    <td>
                        <%= p.price %>
                    </td>
                    <td>
                        <%= p.quantity %>
                    </td>
                    <td>
                        <%= p.supplier ? p.supplier.name : 'N/A' %>
                    </td>
                    <td>
                        <a href="/products/edit/<%= p._id %>" class="btn btn-primary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm" onclick="deleteProduct('<%= p._id %>')">Delete</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <script>
        function deleteProduct(id) {
            if (confirm('Are you sure you want to delete this product?')) {
                fetch('/products/' + id, {
                        method: 'DELETE'
                    })
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        document.getElementById('row-' + id).remove();
                    })
                    .catch(err => console.error(err));
            }
        }
    </script>


    <%- include('../partials/footer') %>